@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Stylists</h1>

@if (@Model.Count == 0)
{
  <h3>No stylists have been added yet!</h3>
} 

@foreach (Stylist stylist in Model)
{
  <h3>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId }) </h3>
}
<p>Click on each stylist to see their details and add clients</p>
<p>@Html.ActionLink("Add Stylist", "Create", "Stylists")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
