@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Clients</h1>

@if (@Model.Clients == null)
{
  <h5>No clients have been added yet!</h5>
} 

@foreach (Client clients in @Model)
{
  <h3>@clients.Name</h3>
}

<p><a href='/stylists'>Back to stylists</a></p>
<p><a href='/'>Back home</a></p>